@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.planet {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1000s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1000s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  overflow: hidden;
  background-color: #000017;
}
.planet:after {
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  background: url(../images/banner-bg.png) repeat center;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-size: cover;
  -webkit-animation: spin 100s linear infinite;
          animation: spin 100s linear infinite;
  top: -100%;
  left: -100%;
  z-index: 1;
  right: 0px;
  margin: 0 auto;
  mix-blend-mode: difference;
  -webkit-transform: scale(5);
          transform: scale(5);
  background-size: 70%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  to {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  to {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
.banner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent url("../images/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
  mix-blend-mode: luminosity;
}

.clouds img {
  height: 70vh;
  width: 70vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, button, form {
  font-family: "Mulish", sans-serif;
}

a, a:hover {
  text-decoration: none;
}

p {
  font-weight: 300;
}

a {
  display: inline-block;
  -webkit-transition: 2s;
  transition: 2s;
}

.footer .copyright-text, .footer .row .footer-social ul li a, .footer .row .footer-social ul, .articles .article-bottom-section .article-bottom-logo-container, .articles .right-arrow-button, .fixed_social ul li a, .fixed_social ul, .fixed_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixed_social {
  position: fixed;
  right: 30px;
  height: 100vh;
  z-index: 1;
}
.fixed_social ul {
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fixed_social ul li {
  margin: 0px 0px 10px 0px;
}
.fixed_social ul li a {
  width: 40px;
  height: 40px;
  background-color: #0d0d27;
  border-radius: 50%;
}
.fixed_social ul li a i {
  color: #ffffff;
}
.fixed_social ul li a:hover {
  background-color: #389aff;
}

.navbar-collapse {
  -webkit-box-flex: inherit !important;
      -ms-flex-positive: inherit !important;
          flex-grow: inherit !important;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header a {
  color: #1c64af !important;
  font-size: 15px;
  padding: 0px 20px !important;
}
header a:hover {
  color: #f2ad21 !important;
}
header li a.active {
  background-color: transparent !important;
  color: #f2ad21 !important;
}
header .login {
  display: inline-block;
  border-radius: 35px;
  border: 1px solid #ffffff;
  padding: 5px 20px !important;
  color: #ffffff !important;
}
header .login:hover {
  background: #389aff;
  border-color: #389aff;
}

header.scrollHeader {
  position: fixed;
  background-color: #161d66;
}

.subscribe, .articles .row.article-top-section, .articles, .faqs, .roadmap, .origin_bluechip, .explore_bluechip, .why_bluechip_section, .about {
  padding-bottom: 83px;
}

.banner {
  padding-top: 7%;
  position: relative;
  z-index: 0;
  min-height: 690px;
}
.banner:before {
  content: "";
  position: absolute;
  background: url(../images/curve.png) no-repeat center;
  background-size: cover;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 100%;
  height: 307px;
  bottom: -231px;
}
.banner h1 {
  font-size: 90px;
  color: #ffffff;
  font-weight: 200;
}
.banner h1 span {
  color: #f2ad21;
}
.banner p {
  color: #c7c7c7;
}
.banner a {
  background-color: #389aff;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 35px;
  font-size: 16px;
  border: 1px solid #389aff;
}
.banner a:hover {
  background: transparent;
  color: #389aff;
  border: 1px solid #389aff;
}
.banner:after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover, cover;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: -40%;
  margin: 0 auto;
  z-index: -1;
  background-size: 100% auto;
  background-blend-mode: screen;
}
.banner .bubble {
  position: absolute;
  bottom: -20%;
  mix-blend-mode: plus-lighter;
  width: 100%;
}

.banner-coin {
  -webkit-animation: mymove 5s alternate infinite;
          animation: mymove 5s alternate infinite;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1000;
  position: relative;
  display: inline-block;
}

@-webkit-keyframes mymove {
  0% {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  100% {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

@keyframes mymove {
  0% {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  100% {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
.coin {
  margin-bottom: -15%;
  text-align: center;
  margin-top: 46px;
}

.heading {
  margin-bottom: 70px;
}
.heading h2 {
  font-size: 50px;
  font-weight: 300;
}
.heading h2 span {
  font-weight: 700;
  color: #f2ad21;
}
@media only screen and (max-width: 1024px) {
  .heading h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .heading h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .heading {
    margin-bottom: 30px;
  }
}

.banner_text {
  position: relative;
  z-index: 9;
}

.about {
  margin-top: 15%;
  position: relative;
}
.about:after {
  content: "";
  position: absolute;
  top: -10%;
  right: 20%;
  background: url(../images/graph-01.png) no-repeat;
  width: 26px;
  height: 25px;
}
.about a {
  background-color: #389aff;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 35px;
  font-size: 16px;
  border: 1px solid #389aff;
  margin-top: 30px;
}
.about a:hover {
  background: transparent;
  color: #389aff;
  border: 1px solid #389aff;
}

.why_bluechip {
  background: #040a4f url(../images/why-bluechp-bg.png) no-repeat top center;
  background-size: cover;
  position: relative;
}
.why_bluechip:after {
  content: "";
  position: absolute;
  left: 5%;
  top: 10%;
  background: url(../images/graph-02.png) no-repeat center;
  width: 20px;
  height: 20px;
  -webkit-animation: roundRotate 5s alternate infinite;
          animation: roundRotate 5s alternate infinite;
}
.why_bluechip:before {
  content: "";
  position: absolute;
  right: 20%;
  top: 5%;
  background: url(../images/graph-03.png) no-repeat center;
  width: 20px;
  height: 20px;
  -webkit-animation: roundRotate 5s alternate infinite;
          animation: roundRotate 5s alternate infinite;
}
.why_bluechip .heading h2 {
  color: #ffffff;
}
.why_bluechip .section {
  margin-top: 40px;
}
.why_bluechip .section .icon {
  width: 95px;
  height: 95px;
  overflow: hidden;
  margin: 0 auto 30px;
  position: relative;
  border-radius: 50%;
}
.why_bluechip .section .icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  background: url(../images/round02.png) no-repeat center center;
  background-size: cover;
  -webkit-transition: 2s;
  transition: 2s;
}
.why_bluechip .section .icon img {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.why_bluechip .section h3, .why_bluechip .section p {
  color: #ffffff;
}
.why_bluechip .section h3 {
  font-size: 24px;
}
.why_bluechip .section a {
  background-color: transparent;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 35px;
  font-size: 16px;
  border: 1px solid transparent;
  margin-top: 30px;
  border: 1px solid #ffffff;
}
.why_bluechip .section a:hover {
  background: transparent;
  color: transparent;
  border: 1px solid #389aff;
}
.why_bluechip .section a:hover {
  background-color: #389aff;
  color: #ffffff;
}
.why_bluechip .section:hover h3 {
  color: #389aff;
}
.why_bluechip .section:hover .icon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.why_bluechip .section:hover .icon img {
  bottom: 95px;
}
.why_bluechip .section:hover .icon:after {
  -webkit-transform: rotate3d(1, 1, 1, 365deg);
          transform: rotate3d(1, 1, 1, 365deg);
}

.why_bluechip_section {
  padding-top: 5rem;
}

.explore_bluechip {
  border-top: 1px solid #363b72;
  padding-top: 5rem;
}
.explore_bluechip .heading {
  margin-bottom: 0px;
}
.explore_bluechip p {
  color: #c7c7c7;
}
.explore_bluechip .logos ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.explore_bluechip .logos li {
  float: left;
}
.explore_bluechip .logos li:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.explore_bluechip .logos li:first-child a {
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
}
.explore_bluechip .logos li:nth-child(2n) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 50%;
}
.explore_bluechip .logos li:nth-child(4n) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}
.explore_bluechip .logos li:nth-child(4n) a {
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
}
.explore_bluechip .logos li a {
  border-radius: 10px;
  background-color: #040948;
  padding: 10px 30px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 0px;
  text-align: center;
}

.origin_bluechip {
  border-top: 1px solid #363b72;
}
.origin_bluechip .heading {
  margin-bottom: 0px;
}
.origin_bluechip p {
  color: #c7c7c7;
}
.origin_bluechip a {
  background-color: #389aff;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 35px;
  font-size: 16px;
  border: 1px solid #389aff;
}
.origin_bluechip a:hover {
  background: transparent;
  color: #389aff;
  border: 1px solid #389aff;
}
.origin_bluechip .origin_bluechip_image {
  position: relative;
  text-align: center;
  z-index: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}
.origin_bluechip .origin_bluechip_image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 33%;
  left: 0px;
  right: 0px;
  bottom: -60px;
  background: url(../images/dotted-grphic.png) no-repeat bottom center;
  background-size: contain;
  -webkit-animation: flow 5s linear infinite;
          animation: flow 5s linear infinite;
  z-index: -1;
}
.origin_bluechip .origin_bluechip_image:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  bottom: -18px;
  background: url(../images/light-flow.png) no-repeat bottom center;
  background-size: 75% auto;
  z-index: 9;
  background-blend-mode: exclusion;
}
.origin_bluechip .origin_bluechip_image .d-coin {
  -webkit-animation: bounceIn 10s infinite;
          animation: bounceIn 10s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: translateY(100px) scale(0.3);
          transform: translateY(100px) scale(0.3);
}
.origin_bluechip .origin_bluechip_image .round_graphic {
  mix-blend-mode: exclusion;
  z-index: -1;
  position: relative;
}

@-webkit-keyframes flow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.8;
  }
}

@keyframes flow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.8;
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  70% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  70% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
}
.roadmap {
  background: url(../images/roadmap-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  padding-top: 83px;
}
.roadmap .roadmap_paralel {
  position: relative;
}
.roadmap .line {
  width: 100%;
  background: #f2ad21;
  height: 2px;
  position: absolute;
  top: 41%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.roadmap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.roadmap ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% / 4);
          flex: 0 0 calc(100% / 4);
  position: relative;
}
.roadmap ul li:after {
  content: "";
  position: absolute;
  display: inline-block;
  border: 6px solid #f2ad21;
  border-left-color: transparent;
  border-bottom-color: transparent;
  top: 196px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 42px;
}
.roadmap ul li:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 116px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c0c23), to(#f2ad21));
  background-image: linear-gradient(#0c0c23, #f2ad21);
  margin-left: 47px;
  top: 79px;
}
.roadmap ul li:nth-child(even) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.roadmap ul li:nth-child(even) .icon {
  margin-top: 35%;
}
.roadmap ul li:nth-child(even):after {
  top: 41.2%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.roadmap ul li:nth-child(even):before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2ad21), to(#0c0c23));
  background-image: linear-gradient(#f2ad21, #0c0c23);
  height: 29%;
  bottom: 138px;
  top: inherit;
}
.roadmap ul li h4 {
  font-size: 14px;
  color: #ffffff;
}
.roadmap ul li h3 {
  color: #389aff;
  font-size: 20px;
}
.roadmap ul li p {
  color: #c7c7c7;
}
.roadmap .heading h2 {
  color: #ffffff;
}
.roadmap .icon {
  width: 95px;
  height: 95px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin-bottom: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.roadmap .text {
  margin-top: 18%;
}
.roadmap .icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  background: url(../images/round02.png) no-repeat center center;
  background-size: cover;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-animation: roundRotate 5s alternate infinite;
          animation: roundRotate 5s alternate infinite;
}

.more_paragraph {
  display: none;
}

@-webkit-keyframes roundRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes roundRotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.faqs {
  padding-top: 83px;
}
.faqs .accordion .card {
  border: 0px;
}
.faqs .accordion .card-header {
  background-color: transparent;
  padding: 20px 0px;
  font-size: 20px;
  margin-bottom: 0px;
}
.faqs .accordion .card-header button {
  padding: 0px;
  color: #f2ad21;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.faqs .accordion .card-header button:hover {
  text-decoration: none;
  outline: none !important;
}
.faqs .accordion .card-header button:focus, .faqs .accordion .card-header button:active {
  outline: none !important;
}
.faqs .accordion .card-header button font {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-size: 20px;
}
.faqs .accordion .card-header button span {
  font-size: 30px;
  color: #787878;
  display: inline-block;
  margin-right: 10%;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #f2ad21;
}
.faqs .accordion .card-header button span:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #d7d7d7;
  top: 50%;
  left: 63px;
}
.faqs .accordion .card-header button:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #161623;
  right: 0px;
  top: 15px;
}
.faqs .accordion .card-header button:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #161623;
  right: 0px;
  top: 15px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.faqs .accordion .card-header button:contains {
  font-size: 50px;
}
.faqs .accordion .card-header .collapsed {
  color: #000000;
}
.faqs .accordion .card-header .collapsed font {
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 20px;
}
.faqs .accordion .card-header .collapsed span {
  font-size: 20px;
  color: #000;
}
.faqs .accordion .card-header .collapsed span:after {
  width: 70px;
  left: 50px;
}
.faqs .accordion .card-header .collapsed:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #161623;
  right: 0px;
  top: 15px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.faqs .accordion .card-body {
  padding-left: 14.5%;
}

.btn.focus, .btn:focus {
  -webkit-box-shadow: 0px 0px 0px !important;
          box-shadow: 0px 0px 0px !important;
}

.articles {
  padding-top: 83px;
  background: url(../images/roadmap-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.articles .heading h2 {
  color: #ffffff;
  font-weight: 700;
}
.articles .article-cards {
  padding: 24px;
  border-right: 1px solid #525364;
}
.articles .article-cards:nth-child(1) {
  border-bottom: 1px solid #525364;
  padding-top: 0;
}
.articles .article-cards:nth-child(2) {
  border-bottom: 1px solid #525364;
  padding-top: 0;
}
.articles .article-cards:nth-child(3) {
  border-bottom: 1px solid #525364;
  padding-top: 0;
}
.articles .article-cards:nth-child(3n) {
  border-right: none;
}
.articles .article-cards:hover .article-card-inner {
  background-color: #05061d;
  border: 1px solid #2e2e2e;
}
.articles .article-cards:hover .right-arrow-button {
  background-color: #389aff;
  border: none;
}
.articles .article-card-inner {
  padding: 16px;
  border: 1px solid transparent;
}
.articles .article-logo-container {
  height: 60px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.articles .article-text {
  color: #bebfbf;
  margin-top: 18px;
}
.articles .right-arrow-button {
  height: 32px;
  width: 32px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.articles .white-transparent-button {
  background-color: transparent;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 35px;
  font-size: 16px;
  border: 1px solid transparent;
  border: 1px solid #ffffff;
}
.articles .white-transparent-button:hover {
  background: transparent;
  color: transparent;
  border: 1px solid #389aff;
}
.articles .white-transparent-button:hover {
  background-color: #389aff;
  color: #ffffff !important;
}
.articles .row.article-top-section {
  border-bottom: 1px solid #525364;
}
.articles .article-bottom-section {
  margin-top: 52px;
}
.articles .article-bottom-section .heading h2 {
  font-weight: 300;
}
.articles .article-bottom-section .article-bottom-logo-container {
  background-color: #030737;
  border: none;
  border-radius: 12px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 11.5px;
  padding: 23px 32px;
}
.articles .article-bottom-section .article-bottom-logo-container:first-child {
  margin-left: 0;
}

.details_artical.articles .row.article-top-section {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.subscribe {
  background-color: #ffffff;
  padding-top: 83px;
}
.subscribe .row {
  margin-top: 25px;
}
.subscribe .row .subscribe-form {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.subscribe .row .subscribe-form input {
  height: 58px;
  width: 79%;
  border: 1px solid #d8d8d8;
  border-radius: 50px;
  padding: 16px;
  color: #656565;
}
.subscribe .row .subscribe-form input::-webkit-input-placeholder {
  color: #656565;
  font-weight: 300;
}
.subscribe .row .subscribe-form input::-moz-placeholder {
  color: #656565;
  font-weight: 300;
}
.subscribe .row .subscribe-form input:-ms-input-placeholder {
  color: #656565;
  font-weight: 300;
}
.subscribe .row .subscribe-form input::-ms-input-placeholder {
  color: #656565;
  font-weight: 300;
}
.subscribe .row .subscribe-form input::placeholder {
  color: #656565;
  font-weight: 300;
}
.subscribe .row .subscribe-form input:focus {
  outline: none;
}
.subscribe .row .subscribe-form input::-webkit-inner-spin-button, .subscribe .row .subscribe-form input::-webkit-outer-spin-button {
  display: none;
}
.subscribe .row .subscribe-form button {
  width: 20%;
  height: 58px;
  border: none;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#389aff), to(#5faeff));
  background: linear-gradient(180deg, #389aff, #5faeff);
  color: #f3f9ff;
  font-weight: 700;
}

.footer {
  padding-top: 83px;
  background: url(../images/roadmap-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.footer span {
  color: #c7c7c7;
}
.footer .row {
  border-bottom: 1px solid #525364;
}
.footer .row .col-lg-4 {
  border-right: 1px solid #525364;
  margin-bottom: 40px;
}
.footer .row .col-lg-4:last-child {
  border-right: none;
}
.footer .row .col-lg-4 h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}
.footer .row .col-lg-4 .article-logo-container {
  margin-top: 20px;
}
.footer .row .footer-list li {
  list-style: none;
  margin-bottom: 19px;
}
.footer .row .footer-list li a, .footer .row .footer-list li span {
  font-size: 15px;
  text-decoration: none;
  color: #c7c7c7;
}
.footer .row .footer-list li a:hover, .footer .row .footer-list li span:hover {
  color: #f2ad21;
  text-decoration: none;
}
.footer .row .footer-list li span:first-child {
  max-width: 105px;
  width: 105px;
}
.footer .row .footer-list li span:first-child::after {
  content: ":";
}
.footer .row .footer-social ul {
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer .row .footer-social ul li {
  margin: 0px 10px 0px 0px;
}
.footer .row .footer-social ul li a {
  width: 40px;
  height: 40px;
  background-color: #0d0d27;
  border-radius: 50%;
}
.footer .row .footer-social ul li a i {
  color: #ffffff;
}
.footer .row .footer-social ul li a:hover {
  background-color: #389aff;
}
.footer .row .footer-social ul {
  margin-bottom: 30px;
}
.footer .row .footer-social ul li {
  margin-right: 10px;
}
.footer .copyright-text {
  height: 90px;
}

.modal-dialog {
  max-width: 900px;
}

.modal-body {
  background-color: #161d66;
}

.modal-body p {
  color: #ffffff;
}

h5.modal-title {
  font-size: 20px;
  color: #f2ad21;
}

@media only screen and (max-width: 1920px) {
  .banner {
    min-height: 860px;
  }

  .banner::before {
    bottom: -161px;
  }
}
@media only screen and (max-width: 1480px) {
  .banner {
    min-height: 750px;
  }

  .banner h1 {
    font-size: 70px;
  }

  .coin img {
    max-width: 40%;
  }

  .why_bluechip .section .icon img {
    width: auto;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .why_bluechip .section h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1280px) {
  header a {
    padding: 0px 16px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar-brand {
    margin-right: 0px;
  }

  header a {
    padding: 0px 15px !important;
  }

  header .login {
    padding: 5px 20px 7px 20px !important;
  }

  .banner h1 {
    font-size: 50px;
  }

  .banner {
    min-height: 620px;
  }

  .about {
    margin-top: 5%;
  }

  .explore_bluechip .logos li {
    width: 50%;
  }

  .explore_bluechip .logos li a {
    width: 100%;
  }

  .explore_bluechip .logos li:first-child a, .explore_bluechip .logos li:nth-child(4n) a {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  .roadmap .icon {
    margin-bottom: 30%;
  }

  .roadmap ul li:nth-child(2n) .icon {
    margin-top: 40%;
  }

  .roadmap ul li h3 {
    font-size: 18px;
  }

  .roadmap ul li h4 {
    font-size: 12px;
  }

  .faqs .accordion .card-header button span::after {
    width: 60px;
  }

  .faqs .accordion .card-header .collapsed font {
    font-size: 18px;
  }

  .faqs .accordion .card-header .collapsed span::after {
    width: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .origin_bluechip {
    padding-top: 83px;
  }

  .banner::before {
    bottom: -160px;
  }

  .banner h1 {
    font-size: 45px;
  }

  .banner {
    padding-top: 10%;
  }

  .navbar-brand img {
    max-width: 76%;
  }

  .origin_bluechip, .why_bluechip_section, .explore_bluechip {
    padding-top: 40px;
  }

  .about, .why_bluechip_section, .explore_bluechip {
    padding-bottom: 40px;
  }

  .origin_bluechip .origin_bluechip_image {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    min-height: 400px;
  }

  .origin_bluechip .origin_bluechip_image .round_graphic {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    bottom: 0px;
  }

  .origin_bluechip .origin_bluechip_image::before {
    background-size: 50% auto;
  }

  .roadmap ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .roadmap ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 2);
            flex: 0 0 calc(100% / 2);
  }

  .roadmap ul li::before, .roadmap ul li::after {
    display: none;
  }

  .roadmap .icon {
    margin-bottom: 0%;
  }

  .roadmap ul li, .roadmap ul li:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .roadmap .icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 21%;
            flex: 0 0 21%;
    margin-right: 15px;
  }

  .roadmap .text, .roadmap ul li:nth-child(2n) .icon {
    margin-top: 0%;
  }

  .roadmap .line {
    display: none;
  }

  .navbar-toggler {
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .navbar-toggler:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    top: 2px;
    right: 0px;
  }
  .navbar-toggler:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    bottom: 2px;
    right: 0px;
  }
  .navbar-toggler span {
    width: 30px;
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    height: 2px;
    right: -11px;
    top: -2px;
  }

  .login {
    right: 57px;
    position: absolute;
    top: 8px;
    font-size: 14px;
    padding: 3px 10px !important;
  }

  #navbarTogglerDemo02 {
    margin-top: 5px;
    background-color: #151963;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  header ul li a {
    padding: 10px 15px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  header li:last-child a {
    border-bottom: 0px;
  }

  .articles .article-cards {
    padding: 10px !important;
    border-right: none;
    border-bottom: 1px solid #5253646e !important;
  }

  .articles .article-cards:nth-child(4),
.articles .article-cards:nth-child(5),
.articles .article-cards:nth-child(6) {
    border-bottom: 1px solid #5253646e !important;
  }

  .articles .right-arrow-button {
    position: absolute;
    top: 40%;
  }

  .articles .row.article-top-section {
    padding-bottom: 30px;
    border-bottom: 1px solid #5253646e !important;
  }

  .subscribe .row .subscribe-form button {
    width: 30%;
    margin-left: 10px;
  }

  .footer .row .col-lg-4 {
    border-right: none;
  }

  .footer .row .col-lg-4:last-child > .d-flex.flex-column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .white-transparent-button {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .roadmap ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 1);
            flex: 0 0 calc(100% / 1);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }

  .roadmap ul li:last-child {
    margin-bottom: 0px;
  }

  .roadmap .icon::after {
    background-size: auto 100%;
  }

  .faqs .accordion .card-header button span::after {
    display: none;
  }

  .faqs .accordion .card-header button span {
    margin-right: 2%;
  }

  .faqs .accordion .card-body {
    padding-left: 0%;
  }

  .about {
    margin-top: 0%;
  }

  .explore_bluechip .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .origin_bluechip .origin_bluechip_image {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }

  .subscribe, .articles .row.article-top-section, .articles, .faqs, .roadmap, .origin_bluechip, .explore_bluechip, .why_bluechip_section, .about {
    padding-bottom: 30px;
  }

  .why_bluechip {
    background-size: 100% auto;
  }

  .navbar-brand {
    padding-left: 0px !important;
  }

  .origin_bluechip .origin_bluechip_image .round_graphic {
    width: 100%;
  }

  .articles .heading {
    margin-bottom: 30px;
  }

  .articles .article-card-inner {
    padding: 8px;
  }

  .articles .article-bottom-section .article-bottom-logo-container {
    padding: 15px;
  }

  .articles .article-bottom-section .article-bottom-logo-container > img {
    height: 30px;
  }

  .origin_bluechip, .why_bluechip_section, .explore_bluechip, .roadmap, .faqs {
    padding-top: 40px;
  }

  .subscribe, .articles .row.article-top-section, .articles, .faqs, .roadmap, .origin_bluechip, .explore_bluechip, .why_bluechip_section, .about {
    padding-bottom: 40px;
  }

  .logos li:nth-child(3n) a, .logos li:nth-child(4n) a {
    margin-bottom: 0px;
  }

  .origin_bluechip .origin_bluechip_image::before {
    background-size: 100% auto;
  }
}
@media only screen and (max-width: 575px) {
  .banner h1 {
    font-size: 40px;
  }

  .fixed_social {
    display: none;
  }

  .banner a {
    font-size: 14px;
    padding: 12px 25px;
  }

  .why_bluechip {
    background-position: 0px -40px;
  }

  .coin img {
    max-width: 60%;
  }

  .explore_bluechip .logos li:first-child, .explore_bluechip .logos li:nth-child(4n) {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .origin_bluechip .origin_bluechip_image::before {
    background-size: 100% auto;
  }

  .banner {
    padding-top: 14%;
  }

  .articles .article-bottom-section .article-bottom-logo-container {
    margin: 0 3.5px;
    padding: 10px;
  }

  .articles .article-text {
    width: 90%;
    margin-bottom: 0;
  }

  .footer .row .col-lg-4 {
    margin-bottom: 0;
  }

  .footer .row .col-lg-4:last-child {
    margin-bottom: 40px;
  }

  .footer .row .col-lg-4 h4 {
    margin-bottom: 16px;
  }

  .footer .copyright-text {
    height: 50px;
  }

  .footer .copyright-text > span {
    font-size: 13px;
  }

  .faqs .accordion .card-header button font {
    font-size: 18px;
    padding-right: 20px;
  }

  .faqs .accordion .card-header button span {
    font-size: 20px;
  }

  .subscribe {
    padding-top: 40px !important;
  }
}
@media only screen and (max-width: 480px) {
  .navbar {
    padding: 3px 15px;
  }

  header .login {
    top: 5px;
    padding: 2px 15px 3px 15px !important;
  }

  .navbar-toggler {
    top: 5px;
  }

  .navbar-toggler::before {
    top: 4px;
  }

  .navbar-toggler::after {
    bottom: 4px;
  }

  .navbar-toggler span {
    top: -3px;
    width: 10px;
  }

  .navbar-brand img {
    max-width: 55%;
  }

  .banner {
    padding-top: 19%;
  }

  .articles .article-text {
    width: 85%;
    font-size: 15px;
  }

  .article-bottom-section > .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .article-bottom-section > .d-flex > .article-bottom-logo-container {
    width: 200px;
    margin-bottom: 1rem;
  }

  .subscribe .row .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe .row .subscribe-form > input {
    width: 100%;
  }

  .subscribe .row .subscribe-form .subscribe-button {
    margin-top: 1rem;
    margin-left: 0;
    width: 50%;
  }

  .explore_bluechip .logos li a {
    padding: 15px 0px;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  .articles .article-logo-container {
    height: 45px;
    width: inherit;
  }

  .article-logo-container > img {
    height: 50px;
  }

  .footer .row .footer-list li a, .footer .row .footer-list li span,
.footer span,
.articles .article-text {
    font-size: 13px;
  }

  .explore_bluechip .logos li:first-child, .explore_bluechip .logos li:nth-child(4n), .explore_bluechip .logos li:nth-child(2n), .explore_bluechip .logos li {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .logos li:nth-child(3n) a, .logos li:nth-child(4n) a {
    margin-bottom: 10px;
  }
}